/* Fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============= Variables Globales */
:root {
  /* Colores Globales */
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #707070;
  --accent-color: #D8623C;
  --primary-color: #002F65;
  --secundary-color: #051A50;
}

/* ============= Estilos Globales  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

*::-webkit-scrollbar {
  width: 12px;     /* Tamaño del scroll en vertical */
  height: 12px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--secundary-color);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

li {
  list-style: none;
}

section, main {
  padding: 60px 0;
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  grid-gap: inherit;
}

.title-h1 {
  font-size: 36px;
  color: var(--white-color);
  line-height: 40px;
}

.title-h2 {
  font-size: 24px;
  color: var(--primary-color);
}

.title-h3 {
  font-size: 18px;
  color: var(--primary-color);
}

.title-h4 {
  font-size: 25px;
  color: var(--white-color);
}

.icon {
  color: var(--colorIcon-color);
}

.button-default {
  width: fit-content;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
}

