@media screen and (min-width:480px) {
  /* ============= Hero */
  .title-h1 {
    width: 430px;
    line-height: 50px;
    font-size: 46px;
  }

  /* ============= We */
  .title-h2 {
    font-size: 34px;
  }

  /* ============= Footer */
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:768px) {
  /* ============= Header */
  .header-logo-container {
    box-shadow: none;
  }

  .header-logo-container p, .header-social-media{
    display: block;
    color: var(--accent-color);
  }

  .header-logo-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .header-menu {
    position: initial;
    box-shadow: 0px 7px 20px 0px #051a50a3;
  }

  .header-menu ul {
    justify-content: center;
  }

  .header-menu ul li a {
    height: 65px;
    padding: 0 15px;
  }

  .header-menu ul li a span {
    display: block;
  }

  /* ============= Hero */
  .hero {
    padding-top: 139px;
  }

  .hero-content {
    gap: 35px;
  }

  .hero-content p {
    width: 520px;
  }

  .title-h1 {
    width: 550px;
    line-height: 60px;
    font-size: 56px;
  }

  /* ============= About */
  .title-h2 {
    font-size: 40px;
  }
  .about-container {
    gap: 30px;
  }
  .about-container h3 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  /* ============= About */
  .promo-description {
    margin-bottom: 10px;
  }

  /* ============= Contact */
  .contact-content {
    grid-template-columns: 1fr 1fr;
  }

  /* ============= Footer */
  .footer {
    margin-bottom: 0;
  }

  .footer-container {
    text-align: initial;
    grid-template-columns: 2fr repeat(3, 1fr);
  }

  .footer-hr-container {
    margin: 0 0 10px;
  }

  .footer-rights-container {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}

@media screen and (min-width:1024px) {
  /* ============= header */
  .header-menu ul {
    padding: 0 80px;
  }

  .header-menu ul li a {
    padding: 0 20px;
  }
  /* ============= About */
  .about-container {
    gap: 110px;
  }
  /* ============= Hero */
  .hero::before {
    background-position: 350px 65%;
  }

  /* ============= Service */
  .service-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ============= Contact */
  .double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  /* ============= Contact */
  .footer-container {
    gap: 75px;
  }
}

@media screen and (min-width:1200px) {
  /* ============= Header */
  .header-menu ul {
    padding: 0 120px;
  }
  .header-menu ul li a {
    padding: 0 30px;
  }
  /* ============= About */
  .about-paragraph {
    width: 1000px;
    margin: 30px auto;
  }
}