@media screen and (min-width:480px) {
  /* ============= Hero */
  .title-h1 {
    width: 430px;
    line-height: 50px;
    font-size: 46px;
  }

  /* ============= We */
  .title-h2 {
    font-size: 34px;
  }
}

@media screen and (min-width:768px) {
  /* ============= Header */
  .header-logo-container {
    box-shadow: none;
  }

  .header-logo-container p, .header-social-media{
    display: block;
    color: var(--accent-color);
  }

  .header-logo-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .header-menu {
    position: initial;
  }

  .header-menu ul {
    justify-content: initial;
  }

  .header-menu ul li a {
    height: 65px;
    padding: 0 15px;
  }

  .header-menu ul li a span {
    display: block;
  }

  /* ============= Hero */
  .hero::before {
    background-position: 250px 65%;
  }

  .title-h1 {
    width: 550px;
    line-height: 60px;
    font-size: 56px;
  }

  /* ============= We */
  .title-h2 {
    font-size: 40px;
  }

  .we-content {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  /* ============= Contact */
  .contact-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:1024px) {
  /* ============= header */
  .header-menu ul {
    padding: 0 80px;
  }

  .header-menu ul li a {
    padding: 0 20px;
  }
  /* ============= We */
  .we-content {
    grid-template-columns: 1fr auto;
  }
  /* ============= Hero */
  .hero::before {
    background-position: 350px 65%;
  }

  /* ============= Service */
  .service-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ============= Contact */
  .double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width:1200px) {
  /* ============= header */
  .header-menu ul {
    padding: 0 120px;
  }
  .header-menu ul li a {
    padding: 0 30px;
  }
}