/* ============= Header */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  background-color: transparent;
  z-index: 1000;
  transition: .8s;
}

.header-active {
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  background-color: var(--background-color);
  transition: .8s;
}

.header-logo p{
  font-size: 30px;
  font-weight: bold;
  color: var(--paragraph-color);
}

.header-menu-hamburguer i {
  font-weight: 550;
  font-size: 20px;
  cursor: pointer;
  color: var(--icon-header-color);
}

.header-menu {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  right: 0;
  left: -100%;
  top: 50px;
  bottom: 0;
  background-color: var(--background-color);
  transition: cubic-bezier(0.1, 0.73, 0.71, 0.96) .5s;
}

.header-menu ul {
  display: grid;
  grid-gap: 10px;
  text-align: center;
  margin-bottom: 46px;
}

.header-menu ul li a {
  color: var(--paragraph-color);
  font-weight: 500;
}

.menu-mobile-active {
  left: 0;
}

.link-phone {
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--button-color);
  color: var(--buton-text-color);
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

/* ============= Hero */

.hero {
  display: flex;
  align-items: center;
  padding-top: 56px;
  height: 100vh;
  background-color: var(--background-color);
  opacity: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* opacity: 0.6; */
  background-repeat: no-repeat;
  background-position: 150px 60%;
  background-size: 100%;
  background-image: url('../images/HeroBackground.svg');
}

.hero-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  position: relative;
}

.hero-button {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--button-color);
  color: var(--buton-text-color);
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

/* ============= We */

.we-content {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.we-content-right img {
  width: 100%;
  height: 100%;
  /* opacity: .6; */
}

.we-content-left {
  display: grid;
  grid-gap: 20px;
}

.we-paragraph {
  color: var(--paragraph-color);
}

.we-controllers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: .3s;
}

.we-button {
  border: none;
  outline: none;
  background: var(--button-accordion-color);
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: .5s;
  color: var(--button-accordion-text-color);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

.we-value-description {
  background-color: var(--box-background-color);
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

.we-value-description p{
  color: var(--box-paragraph-color);
  transition: .5s;
}

.we-description-mission,
.we-description-vision {
  display: none;
  transition: .5s;
}

.focus {
  background-color: var(--button-accordion-active-color);
  color: var(--button-accordion-text-active-color);
}

.active {
  display: block;
}

/* ============= Service */

.service-section .title-h2,
.service-section .title-h3 {
  text-align: center;
}

.service-list {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 40px;
  padding: 50px 0;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.service-icon {
  background: var(--icon-background-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

.service-icon i {
  color: var(--icon-color);
  font-size: 25px;
}

.service-description {
  text-align: center;
  color: var(--paragraph-color)
}

/* ============= Promo */

.promo {
  background-color: var(--background-color);
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: var(--background-color);
  background-image: url(../images/PromoBackground.svg);
  /* background-attachment: fixed; */
}

.promo-content {
  display: grid;
  grid-gap: 5px;
  position: relative;
}

/* .promo-content .title-h2 {
  color: #fff;
} */

.promo-description {
  color: var(--paragraph-color);
}

.promo-button {
  width: fit-content;
  padding: 8px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: var(--button-color);
  color: var(--buton-text-color);
  font-weight: bold;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 12%);
}

/* ============= Contact */

.contact-content {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.contact .title-h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: grid;
  grid-gap: 10px;
}

.double {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  color: var(--input-text-color);
}

.contact-input, .contact-textarea {
  background: var(--input-background-color);
  color: var(--input-text-color);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 8%);
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: bold;
  resize: none;
}

.contact-submit {
  width: 200px;
  cursor: pointer;
  background-color: var(--input-background-submit-color);
  color: var(--input-text-submit-color)
}

.contact-textarea {
  height: 100px;
}

.contact-information {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h3{
  text-align: center;
}

.icon-contact {
  font-size: 35px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* ============= Footer */

.footer {
  background-color: var(--background-color);
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  padding: 20px 0;
}

.footer p,
.footer a {
  text-align: center;
  font-size: 12px;
  color: var(--paragraph-color);
}

/* ============= Privacy Policy */

.privacy-policy {
  color: var(--paragraph-color);
  padding-top: 100px;
}

.privacy-policy a{
  color: var(--paragraph-color);
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3 {
  margin-bottom: 10px;
}

.privacy-policy p {
  padding: 10px 0;
  color: var(--paragraph-color);
}

.privacy-policy ul {
  margin-left: 60px;
  padding: 20px 0;
}

.privacy-policy li {
  list-style: disc;
}

.privacy-policy p strong{
  padding: 10px 0;
  color: var(--paragraph-color);
}